/* components/CustomButton.module.css */

.customButton {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .customButton:hover {
    background-color: darkgray;
  }
  